*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Karla;
}

body{
    background-image: url("../img/pexels-ivan-samkov-4458553.jpg");
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: 45%;
    background-position-x: 100%;
    position: fixed;
    /* align-items: center;
    justify-content: center; */
}

form{
    background: rgba( 217, 182, 139, 0.75 );
    box-shadow: 0 8px 32px 0 rgba(80, 80, 80, 0.37);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 600px;
    height: 590px;
    margin: 10% 110%;
}

.titulo{
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin: 20px;
}

.campos{
    width: 100%;
    margin: 30px 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.campos label{
    font-size: 30px;
    position: absolute;
    left: 100px;
    bottom: 5px;
    cursor: text;
    transition: all 0.3s ease;
    color: #BF4F45;
}

.campos .input{
    width: 455px;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid #8C4A3B;
    outline: 0;
    background:none;
}

.campos .input:focus,
.campos .input:valid{
    border-bottom: 2px solid #F2D57E;
    
}

.campos .input:focus ~ label,
.campos .input:valid ~ label{
    transform: translateY(-28px);
    color: #F2D57E;
    font-size: 30px; 
}

.campos .input:focus ~ label ~ .bi-envelope,
.campos .input:valid ~ label ~ .bi-envelope{
    color: #F2D57E;
    /* font-size: ; */
}

.links{
    display: flex;
    justify-content: center;
    font-style: italic;
    color: #A66540;
    font-size: 28px;
}

.divBtns{
    font-size: 36px;
    text-align: center;
}

.divBtns::before{
    content: " ";
    width: 190px;
    height: 5px;
    background: #8C4A3B;
    position: absolute;
    margin: 23px;
    left: 50px;
}

.divBtns::after{
    content: " ";
    width: 190px;
    height: 5px;
    background: #8C4A3B;
    position: absolute;
    margin: 23px;
}

.btns{
    font-size: 28px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: #BF4F45;
    color: #F2935C;
    border-style: none;

}

.btnsAlt{
    display: flex;
    padding: 0;
    width: 500px;
    justify-content: space-between;
    margin-left: 50px;
}

.logar{
    margin: 0 195px;
}

.bi-envelope, .bi-key{
    color: #BF4F45;
}